In [1]:
from pathlib import Path

import numpy as np
import pandas as pd
import json

import time
from datetime import datetime

from sqlalchemy.orm import sessionmaker
import sqlalchemy
from sqlalchemy import Integer, Column, VARCHAR, PrimaryKeyConstraint, TIMESTAMP, Numeric, BIGINT, BigInteger, String, DateTime
from sqlalchemy.ext.declarative import declarative_base

In [2]:
dfs = []
base_dir = Path('/Users/you-know-who/Code/Project/options/saves/2023-07-18/')
for file_path in base_dir.iterdir():
    if file_path.name[-3:] != 'csv': continue
    token = file_path.name.split('.')[0]
    tmp_df = pd.read_csv(file_path.as_posix())
    tmp_df['time'] = pd.to_datetime(tmp_df['time'])
    tmp_df['token'] = token

    dfs.append(tmp_df)

df = pd.concat(dfs)
df['token'] = df['token'].astype(int)
df.set_index(['token', 'time'], inplace=True)
df

                            price  total_volume
token time
42901 2023-07-18 09:10:00  1626.8     1658700.0
      2023-07-18 09:15:00  1626.8           0.0
      2023-07-18 09:15:01  1626.8           0.0
      2023-07-18 09:15:02  1626.8           0.0
      2023-07-18 09:15:03  1626.8           0.0
...                           ...           ...
42717 2023-07-18 15:29:56  2424.0     6550800.0
      2023-07-18 15:29:57  2424.0     6550800.0
      2023-07-18 15:29:58  2424.0     6550800.0
      2023-07-18 15:29:59  2424.0     6550800.0
      2023-07-18 15:34:24  2424.0     6550800.0

[462550 rows x 2 columns]

In [ ]:
class LTP(Base):
    __tablename__ = 'tick_data'
    token = Column('token', Integer, primary_key=True)
    time_val = Column('time', DateTime, primary_key=True, default=datetime.utcnow)
    price = Column('price', Numeric(7, 2))
    volume = Column('volume', BigInteger)

In [ ]:
data = []
for (token, ts), vals in df.iterrows():
    price, vol = vals['price'], int(vals['total_volume'])

    row = LTP(
        token=token,
        time=ts,
        price=price,
        volume=vol)
    data.append(row)

NameError: name 'df' is not defined

In [2]:
Base = declarative_base()
engine = sqlalchemy.create_engine(
    url="postgresql+psycopg2://postgres:postgres@localhost:5432/futures"
)

Session = sessionmaker(bind=engine)
sess = Session()

/var/folders/29/nqyzp9td3xd1rscdchv4kxfc0000gn/T/ipykernel_88736/1405009704.py:1: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [5]:
with engine.connect() as conn:
    query = sqlalchemy.text("select * from token_movements(interval '5 minutes');")
    start = time.perf_counter_ns()
    res = conn.execute(query).fetchall()
    end = time.perf_counter_ns()
    print(f"Took, {(end-start)/1e6 :.2f}ms")
    print(res)

Took, 204.68ms
[(48288, Decimal('111.15')), (48427, Decimal('38.40')), (48367, Decimal('22.50')), (48418, Decimal('12.10')), (48278, Decimal('11.85')), (48310, Decimal('11.35')), (48037, Decimal('10.75')), (45221, Decimal('9.50')), (48368, Decimal('7.45')), (48077, Decimal('6.50')), (48034, Decimal('6.20')), (48423, Decimal('5.90')), (48044, Decimal('5.75')), (48067, Decimal('5.40')), (48070, Decimal('4.15')), (48213, Decimal('3.85')), (48150, Decimal('3.65')), (48260, Decimal('3.50')), (48414, Decimal('3.35')), (39290, Decimal('3.20')), (48415, Decimal('3.20')), (40619, Decimal('2.90')), (48030, Decimal('2.75')), (47345, Decimal('2.55')), (48177, Decimal('2.45')), (48369, Decimal('2.10')), (48248, Decimal('2.05')), (48072, Decimal('2.00')), (48093, Decimal('1.75')), (48413, Decimal('1.65')), (48320, Decimal('1.65')), (48151, Decimal('1.55')), (48404, Decimal('1.40')), (48283, Decimal('1.30')), (48318, Decimal('1.25')), (48022, Decimal('1.15')), (40605, Decimal('1.05')), (48212, Decimal('1.05')), (48430, Decimal('0.90')), (48024, Decimal('0.75')), (48192, Decimal('0.60')), (48371, Decimal('0.55')), (48399, Decimal('0.50')), (48102, Decimal('0.50')), (48107, Decimal('0.50')), (48309, Decimal('0.50')), (48076, Decimal('0.45')), (48342, Decimal('0.45')), (48105, Decimal('0.40')), (48100, Decimal('0.40')), (48021, Decimal('0.25')), (48428, Decimal('0.20')), (48056, Decimal('0.20')), (48370, Decimal('0.15')), (48188, Decimal('0.10')), (48442, Decimal('0.10')), (48108, Decimal('0.00')), (48125, Decimal('-0.20')), (48063, Decimal('-0.20')), (48181, Decimal('-0.25')), (48328, Decimal('-0.25')), (48257, Decimal('-0.30')), (48157, Decimal('-0.45')), (48229, Decimal('-0.55')), (48025, Decimal('-1.05')), (48228, Decimal('-1.10')), (48099, Decimal('-1.15')), (48182, Decimal('-1.30')), (48038, Decimal('-1.35')), (48096, Decimal('-1.75')), (48023, Decimal('-1.85')), (48130, Decimal('-1.90')), (48384, Decimal('-2.35')), (48018, Decimal('-2.35')), (48041, Decimal('-3.10')), (48078, Decimal('-3.10')), (48017, Decimal('-3.20')), (48036, Decimal('-7.40')), (48098, Decimal('-8.80')), (48059, Decimal('-10.20')), (48073, Decimal('-11.15')), (48273, Decimal('-390.80'))]

In [8]:
try:
    sess.commit()
    sess.close()
except:
    sess.rollback()

In [6]:
sess.rollback()

In [8]:
symbols = pd.read_csv('./2023_week_32.csv')
symbols['expiry']  = pd.to_datetime(symbols['expiry'])
symbols.dropna(how='any', inplace=True)

print(symbols['instrumenttype'].unique())
print(symbols['exch_seg'].unique())
symbols

['OPTSTK' 'FUTSTK' 'OPTIDX' 'FUTIDX' 'OPTCUR' 'OPTIRC' 'FUTCUR' 'FUTIRC'
 'FUTIRT' 'OPTFUT' 'FUTCOM' 'AUCSO']
['NFO' 'CDS' 'MCX' 'NCDEX']

/var/folders/29/nqyzp9td3xd1rscdchv4kxfc0000gn/T/ipykernel_65972/1065004646.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  symbols = pd.read_csv('./2023_week_32.csv')

,token,symbol,name,expiry,strike,lotsize,instrumenttype,exch_seg,tick_size
18985,151540,INFY28SEP231570PE,INFY,2023-09-28 15:15:00,157000.0,400,OPTSTK,NFO,5
18986,133579,LT31AUG232000CE,LT,2023-08-31 15:15:00,200000.0,300,OPTSTK,NFO,5
18987,167970,PEL28SEP231000PE,PEL,2023-09-28 15:15:00,100000.0,750,OPTSTK,NFO,5
18988,109851,LALPATHLAB26OCT232460PE,LALPATHLAB,2023-10-26 15:15:00,246000.0,300,OPTSTK,NFO,5
18989,81705,CIPLA26OCT231240CE,CIPLA,2023-10-26 15:15:00,124000.0,650,OPTSTK,NFO,5
...,...,...,...,...,...,...,...,...,...
95900,TMCFGRNZM18AUG23PE12300S,TMCFGRNZM18AUG23PE12300S,TMCFGRNZM,2023-08-18 15:15:00,1230000.0,5,OPTFUT,NCDEX,100
95901,JEERAUNJHA20NOV23CE66000S,JEERAUNJHA20NOV23CE66000S,JEERAUNJHA,2023-11-20 15:15:00,6600000.0,3,OPTFUT,NCDEX,100
95902,JEERAUNJHA20OCT23PE64900S,JEERAUNJHA20OCT23PE64900S,JEERAUNJHA,2023-10-20 15:15:00,6490000.0,3,OPTFUT,NCDEX,100
95903,JEERAUNJHA18AUG23PE43700S,JEERAUNJHA18AUG23PE43700S,JEERAUNJHA,2023-08-18 15:15:00,4370000.0,3,OPTFUT,NCDEX,100
95904,DHANIYA20OCT23CE5200S,DHANIYA20OCT23CE5200S,DHANIYA,2023-10-20 15:15:00,520000.0,5,OPTFUT,NCDEX,100

In [13]:
futures = symbols[(symbols['instrumenttype'] == 'FUTSTK') & (symbols['expiry'] == datetime(2023, 8, 31, 15, 15, 0, 0))]

futures

,token,symbol,name,expiry,strike,lotsize,instrumenttype,exch_seg,tick_size
19236,48080,ESCORTS31AUG23FUT,ESCORTS,2023-08-31 15:15:00,-1.0,275,FUTSTK,NFO,5
19809,48368,SHRIRAMFIN31AUG23FUT,SHRIRAMFIN,2023-08-31 15:15:00,-1.0,600,FUTSTK,NFO,5
19881,48065,CROMPTON31AUG23FUT,CROMPTON,2023-08-31 15:15:00,-1.0,1800,FUTSTK,NFO,5
20039,48150,INDIGO31AUG23FUT,INDIGO,2023-08-31 15:15:00,-1.0,300,FUTSTK,NFO,5
20348,48112,HINDCOPPER31AUG23FUT,HINDCOPPER,2023-08-31 15:15:00,-1.0,5300,FUTSTK,NFO,5
...,...,...,...,...,...,...,...,...,...
71087,48321,POWERGRID31AUG23FUT,POWERGRID,2023-08-31 15:15:00,-1.0,2700,FUTSTK,NFO,5
71154,48044,BRITANNIA31AUG23FUT,BRITANNIA,2023-08-31 15:15:00,-1.0,200,FUTSTK,NFO,5
71207,48287,ONGC31AUG23FUT,ONGC,2023-08-31 15:15:00,-1.0,3850,FUTSTK,NFO,5
71411,48325,RAMCOCEM31AUG23FUT,RAMCOCEM,2023-08-31 15:15:00,-1.0,850,FUTSTK,NFO,5
71433,48254,MCDOWELL-N31AUG23FUT,MCDOWELL-N,2023-08-31 15:15:00,-1.0,700,FUTSTK,NFO,5

In [3]:
lookup = pd.read_csv('/Users/you-know-who/Code/Project/stock_server/smartapi/.lookup/2023_week_32.csv')
lookup.dropna(how='any', inplace=True)
lookup.set_index('token', inplace=True)

/var/folders/29/nqyzp9td3xd1rscdchv4kxfc0000gn/T/ipykernel_8160/31276480.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  lookup = pd.read_csv('/Users/you-know-who/Code/Project/stock_server/smartapi/.lookup/2023_week_32.csv')

In [18]:
token_map = {}
for row_id, data in futures.iterrows():
    token = data['token']
    symbol = data['symbol']
    name = data['name']
    token_map[token] = (symbol, name)

print(token_map)
with open('./token_map.json', 'w') as fp:
    json.dump(token_map, fp)

{48080: ('ESCORTS31AUG23FUT', 'ESCORTS'), 48368: ('SHRIRAMFIN31AUG23FUT', 'SHRIRAMFIN'), 48065: ('CROMPTON31AUG23FUT', 'CROMPTON'), 48150: ('INDIGO31AUG23FUT', 'INDIGO'), 48112: ('HINDCOPPER31AUG23FUT', 'HINDCOPPER'), 48404: ('TCS31AUG23FUT', 'TCS'), 48415: ('TORNTPHARM31AUG23FUT', 'TORNTPHARM'), 48076: ('DLF31AUG23FUT', 'DLF'), 48152: ('INDUSTOWER31AUG23FUT', 'INDUSTOWER'), 48068: ('DABUR31AUG23FUT', 'DABUR'), 48258: ('MGL31AUG23FUT', 'MGL'), 48122: ('IBULHSGFIN31AUG23FUT', 'IBULHSGFIN'), 48181: ('ITC31AUG23FUT', 'ITC'), 48414: ('TITAN31AUG23FUT', 'TITAN'), 48145: ('INDHOTEL31AUG23FUT', 'INDHOTEL'), 48317: ('PIDILITIND31AUG23FUT', 'PIDILITIND'), 48176: ('IPCALAB31AUG23FUT', 'IPCALAB'), 48424: ('UBL31AUG23FUT', 'UBL'), 48107: ('HEROMOTOCO31AUG23FUT', 'HEROMOTOCO'), 48022: ('AXISBANK31AUG23FUT', 'AXISBANK'), 48063: ('CONCOR31AUG23FUT', 'CONCOR'), 48423: ('TVSMOTOR31AUG23FUT', 'TVSMOTOR'), 48327: ('RECLTD31AUG23FUT', 'RECLTD'), 48149: ('INDIAMART31AUG23FUT', 'INDIAMART'), 48066: ('CUB31AUG23FUT', 'CUB'), 48053: ('CHOLAFIN31AUG23FUT', 'CHOLAFIN'), 48243: ('MARICO31AUG23FUT', 'MARICO'), 48288: ('PAGEIND31AUG23FUT', 'PAGEIND'), 48442: ('ZEEL31AUG23FUT', 'ZEEL'), 40605: ('ADANIENT31AUG23FUT', 'ADANIENT'), 48048: ('BSOFT31AUG23FUT', 'BSOFT'), 48098: ('HAL31AUG23FUT', 'HAL'), 48088: ('GAIL31AUG23FUT', 'GAIL'), 48105: ('HDFCBANK31AUG23FUT', 'HDFCBANK'), 48064: ('COROMANDEL31AUG23FUT', 'COROMANDEL'), 39288: ('ABFRL31AUG23FUT', 'ABFRL'), 48024: ('BAJAJFINSV31AUG23FUT', 'BAJAJFINSV'), 48283: ('OBEROIRLTY31AUG23FUT', 'OBEROIRLTY'), 48059: ('COFORGE31AUG23FUT', 'COFORGE'), 48043: ('BPCL31AUG23FUT', 'BPCL'), 48280: ('NESTLEIND31AUG23FUT', 'NESTLEIND'), 48092: ('GODREJCP31AUG23FUT', 'GODREJCP'), 48121: ('HINDUNILVR31AUG23FUT', 'HINDUNILVR'), 48318: ('PIIND31AUG23FUT', 'PIIND'), 48201: ('L&TFH31AUG23FUT', 'L&TFH'), 48273: ('MRF31AUG23FUT', 'MRF'), 48276: ('NATIONALUM31AUG23FUT', 'NATIONALUM'), 45221: ('ALKEM31AUG23FUT', 'ALKEM'), 48278: ('NAUKRI31AUG23FUT', 'NAUKRI'), 48038: ('BHARTIARTL31AUG23FUT', 'BHARTIARTL'), 35334: ('AARTIIND31AUG23FUT', 'AARTIIND'), 48034: ('BATAINDIA31AUG23FUT', 'BATAINDIA'), 48073: ('DIXON31AUG23FUT', 'DIXON'), 48125: ('ICICIBANK31AUG23FUT', 'ICICIBANK'), 48018: ('ASTRAL31AUG23FUT', 'ASTRAL'), 48151: ('INDUSINDBK31AUG23FUT', 'INDUSINDBK'), 48090: ('GMRINFRA31AUG23FUT', 'GMRINFRA'), 48279: ('NAVINFLUOR31AUG23FUT', 'NAVINFLUOR'), 48337: ('SAIL31AUG23FUT', 'SAIL'), 48113: ('HINDPETRO31AUG23FUT', 'HINDPETRO'), 48322: ('PVRINOX31AUG23FUT', 'PVRINOX'), 48049: ('CANBK31AUG23FUT', 'CANBK'), 48342: ('SBIN31AUG23FUT', 'SBIN'), 48131: ('IDEA31AUG23FUT', 'IDEA'), 48384: ('TATACHEM31AUG23FUT', 'TATACHEM'), 48320: ('POLYCAB31AUG23FUT', 'POLYCAB'), 48192: ('KOTAKBANK31AUG23FUT', 'KOTAKBANK'), 48418: ('TRENT31AUG23FUT', 'TRENT'), 48030: ('BALKRISIND31AUG23FUT', 'BALKRISIND'), 48069: ('DALBHARAT31AUG23FUT', 'DALBHARAT'), 48429: ('VEDL31AUG23FUT', 'VEDL'), 48139: ('IDFCFIRSTB31AUG23FUT', 'IDFCFIRSTB'), 48067: ('CUMMINSIND31AUG23FUT', 'CUMMINSIND'), 48138: ('IDFC31AUG23FUT', 'IDFC'), 48367: ('SHREECEM31AUG23FUT', 'SHREECEM'), 48319: ('PNB31AUG23FUT', 'PNB'), 48021: ('AUROPHARMA31AUG23FUT', 'AUROPHARMA'), 48371: ('SUNPHARMA31AUG23FUT', 'SUNPHARMA'), 48326: ('RBLBANK31AUG23FUT', 'RBLBANK'), 48016: ('ASHOKLEY31AUG23FUT', 'ASHOKLEY'), 48147: ('INDIACEM31AUG23FUT', 'INDIACEM'), 48188: ('JSWSTEEL31AUG23FUT', 'JSWSTEEL'), 48403: ('TATASTEEL31AUG23FUT', 'TATASTEEL'), 48033: ('BANKBARODA31AUG23FUT', 'BANKBARODA'), 48212: ('LT31AUG23FUT', 'LT'), 48023: ('BAJAJ-AUTO31AUG23FUT', 'BAJAJ-AUTO'), 48284: ('OFSS31AUG23FUT', 'OFSS'), 48056: ('CIPLA31AUG23FUT', 'CIPLA'), 48187: ('JKCEMENT31AUG23FUT', 'JKCEMENT'), 48394: ('TATACONSUM31AUG23FUT', 'TATACONSUM'), 48255: ('MCX31AUG23FUT', 'MCX'), 48032: ('BANDHANBNK31AUG23FUT', 'BANDHANBNK'), 48071: ('DELTACORP31AUG23FUT', 'DELTACORP'), 48091: ('GNFC31AUG23FUT', 'GNFC'), 48228: ('LUPIN31AUG23FUT', 'LUPIN'), 48227: ('LTTS31AUG23FUT', 'LTTS'), 48072: ('DIVISLAB31AUG23FUT', 'DIVISLAB'), 48257: ('MFSL31AUG23FUT', 'MFSL'), 48019: ('ATUL31AUG23FUT', 'ATUL'), 48428: ('UPL31AUG23FUT', 'UPL'), 48328: ('RELIANCE31AUG23FUT', 'RELIANCE'), 48177: ('IRCTC31AUG23FUT', 'IRCTC'), 48248: ('MARUTI31AUG23FUT', 'MARUTI'), 48058: ('COALINDIA31AUG23FUT', 'COALINDIA'), 48242: ('MANAPPURAM31AUG23FUT', 'MANAPPURAM'), 47345: ('APOLLOHOSP31AUG23FUT', 'APOLLOHOSP'), 48159: ('IOC31AUG23FUT', 'IOC'), 48015: ('APOLLOTYRE31AUG23FUT', 'APOLLOTYRE'), 48229: ('M&M31AUG23FUT', 'M&M'), 48099: ('HAVELLS31AUG23FUT', 'HAVELLS'), 48430: ('VOLTAS31AUG23FUT', 'VOLTAS'), 48310: ('PERSISTENT31AUG23FUT', 'PERSISTENT'), 48020: ('AUBANK31AUG23FUT', 'AUBANK'), 48281: ('NMDC31AUG23FUT', 'NMDC'), 48089: ('GLENMARK31AUG23FUT', 'GLENMARK'), 48309: ('PEL31AUG23FUT', 'PEL'), 48399: ('TATAMOTORS31AUG23FUT', 'TATAMOTORS'), 39287: ('ABCAPITAL31AUG23FUT', 'ABCAPITAL'), 48025: ('BAJFINANCE31AUG23FUT', 'BAJFINANCE'), 45226: ('AMBUJACEM31AUG23FUT', 'AMBUJACEM'), 48427: ('ULTRACEMCO31AUG23FUT', 'ULTRACEMCO'), 48142: ('IGL31AUG23FUT', 'IGL'), 48077: ('DRREDDY31AUG23FUT', 'DRREDDY'), 48070: ('DEEPAKNTR31AUG23FUT', 'DEEPAKNTR'), 48141: ('IEX31AUG23FUT', 'IEX'), 48126: ('ICICIGI31AUG23FUT', 'ICICIGI'), 48017: ('ASIANPAINT31AUG23FUT', 'ASIANPAINT'), 48035: ('BEL31AUG23FUT', 'BEL'), 48041: ('BOSCHLTD31AUG23FUT', 'BOSCHLTD'), 48204: ('LAURUSLABS31AUG23FUT', 'LAURUSLABS'), 48311: ('PETRONET31AUG23FUT', 'PETRONET'), 48078: ('EICHERMOT31AUG23FUT', 'EICHERMOT'), 48102: ('HDFCAMC31AUG23FUT', 'HDFCAMC'), 48393: ('TATACOMM31AUG23FUT', 'TATACOMM'), 48383: ('SYNGENE31AUG23FUT', 'SYNGENE'), 48440: ('WIPRO31AUG23FUT', 'WIPRO'), 48094: ('GRANULES31AUG23FUT', 'GRANULES'), 48037: ('BHARATFORG31AUG23FUT', 'BHARATFORG'), 48031: ('BALRAMCHIN31AUG23FUT', 'BALRAMCHIN'), 48050: ('CANFINHOME31AUG23FUT', 'CANFINHOME'), 48191: ('JUBLFOOD31AUG23FUT', 'JUBLFOOD'), 48087: ('FEDERALBNK31AUG23FUT', 'FEDERALBNK'), 48040: ('BIOCON31AUG23FUT', 'BIOCON'), 48097: ('GUJGASLTD31AUG23FUT', 'GUJGASLTD'), 48369: ('SIEMENS31AUG23FUT', 'SIEMENS'), 48060: ('COLPAL31AUG23FUT', 'COLPAL'), 48100: ('HCLTECH31AUG23FUT', 'HCLTECH'), 48443: ('ZYDUSLIFE31AUG23FUT', 'ZYDUSLIFE'), 39282: ('ABBOTINDIA31AUG23FUT', 'ABBOTINDIA'), 48182: ('JINDALSTEL31AUG23FUT', 'JINDALSTEL'), 48413: ('TECHM31AUG23FUT', 'TECHM'), 48093: ('GODREJPROP31AUG23FUT', 'GODREJPROP'), 48341: ('SBILIFE31AUG23FUT', 'SBILIFE'), 48106: ('HDFCLIFE31AUG23FUT', 'HDFCLIFE'), 48370: ('SRF31AUG23FUT', 'SRF'), 39290: ('ACC31AUG23FUT', 'ACC'), 48256: ('METROPOLIS31AUG23FUT', 'METROPOLIS'), 48213: ('LTIM31AUG23FUT', 'LTIM'), 48202: ('LALPATHLAB31AUG23FUT', 'LALPATHLAB'), 48259: ('MOTHERSON31AUG23FUT', 'MOTHERSON'), 48096: ('GRASIM31AUG23FUT', 'GRASIM'), 48211: ('LICHSGFIN31AUG23FUT', 'LICHSGFIN'), 40619: ('ADANIPORTS31AUG23FUT', 'ADANIPORTS'), 48312: ('PFC31AUG23FUT', 'PFC'), 35338: ('ABB31AUG23FUT', 'ABB'), '48036': ('BERGEPAINT31AUG23FUT', 'BERGEPAINT'), '48130': ('ICICIPRULI31AUG23FUT', 'ICICIPRULI'), '48282': ('NTPC31AUG23FUT', 'NTPC'), '48230': ('M&MFIN31AUG23FUT', 'M&MFIN'), '48157': ('INFY31AUG23FUT', 'INFY'), '48274': ('MUTHOOTFIN31AUG23FUT', 'MUTHOOTFIN'), '48086': ('EXIDEIND31AUG23FUT', 'EXIDEIND'), '48108': ('HINDALCO31AUG23FUT', 'HINDALCO'), '48260': ('MPHASIS31AUG23FUT', 'MPHASIS'), '48400': ('TATAPOWER31AUG23FUT', 'TATAPOWER'), '48372': ('SUNTV31AUG23FUT', 'SUNTV'), '48051': ('CHAMBLFERT31AUG23FUT', 'CHAMBLFERT'), '48338': ('SBICARD31AUG23FUT', 'SBICARD'), '48039': ('BHEL31AUG23FUT', 'BHEL'), '48321': ('POWERGRID31AUG23FUT', 'POWERGRID'), '48044': ('BRITANNIA31AUG23FUT', 'BRITANNIA'), '48287': ('ONGC31AUG23FUT', 'ONGC'), '48325': ('RAMCOCEM31AUG23FUT', 'RAMCOCEM'), '48254': ('MCDOWELL-N31AUG23FUT', 'MCDOWELL-N')}

In [2]:
with open('./token_map.json', 'r') as fp:
    data = json.load(fp)